*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-image: url('bg.jpg');
	background-size: cover;
}
header{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
}
.logo{
	width: 27%;
}
.logo img{
	height: 150px;
	background-color: yellow;
}
.quote{
	width: 38%;
}
.quote h1{
	margin-top: 15%;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.menu{
	width: 35%;
	color: #fff;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul li{
	float: right;
	width: 80px;
	height: 30px;
	line-height: 30px;
	background-color: red;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
}
.menu ul li i{
	float: left;
	margin-top: 10%;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
}
.menu ul li:hover{
	background-color: green;
}
.menu ul li ul li{
	display: none;
}
.menu ul li:hover ul li{
	display: block;
}
.images{
	width: 100%;
	margin-top: 10%;
	height: 80px;
	background-color: skyblue;
	opacity: 0.7;
}
.images a{
	text-decoration: none;
}
.images img{
	margin-left: 6px;
}
.first-year{
	margin-top: 10%;
	width: 100%;
	background-color: red;
	opacity: 0.7;
}
.first-year h1{
	color: #fff;
	font-size: 100px;
	text-align: center;
}
.first-year a{
	text-decoration: none;
}
.first-year img{
	margin-left: 12px;
}
.connect{
	margin-top: 8%;
}
.connect h1{
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}
.footer{
	width: 100%;
	height: 50px;
	margin-top: 5%;
	background-color: rgba(0,0,0,0.5);
}
.footer ul{
	width: 100%;
}
.footer ul li{
	float: left;
	margin-top: 2.5%;
	padding: 2px 22px 2px 22px;
	display: inline-block;
	text-align: center;
}
.footer i{
	font-size: 30px;
}
.footer a{
	text-decoration: none;
}
.footer a #icon1{
	color: #3b5998;
}
.footer a #icon2{
	color: #fb3958;
}
.footer a #icon3{
	color: #1da1f2;
}
.footer a #icon4{
	color: #0088cc;
}
.footer a #icon5{
	color: #ffe4c2;
}
.footer-title{
	width: 100%;
	margin-top: 8%;
}
.footer-title footer{
	color: #fff;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}
