*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100vh;
	background-image: url(bg.jpg);
	background-size: cover;
}
header{
	width: 100%;
	height: 140px;
	display: flex;
	flex-direction: row;
}
.logo{
	width: 15%;
	background-color: yellow;
}
.logo img{
	width: 50px;
	height: 50px;
	margin-top: 40px;
}
.quote{
	width: 60%;
}
.quote h1{
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: 10px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.3em;
}
.menu{
	width: 25%;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 5px;
}
.menu ul li{
	float: right;
	width: 90px;
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
#menu{
	float: left;
}
#bars{
	float: right;
}
.menu ul li i{
	float: left;
	margin-top: 2px;
	padding-left: 2px;
}
.menu ul li:hover{
	background-color: red;
}
.menu ul li ul li{
	display: none;
	background-color: green;
}
.menu ul li:hover ul li{
	display: block;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.images{
	margin-top: 30px;
	padding-left: 15px;
	width:100%;
	height: 80px;
	background-color: skyblue;
	opacity: 0.4;
}
.images a{
	text-decoration: none;
}
.connect{
	margin-top: 20px;
	width: 100%;
	letter-spacing: 2px;
	text-align: center;
	color: white;
}
.footer{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 45%;
}
.footer li{
	list-style: none;
}
.footer a{
	text-decoration: none;
}
.footer i{
	font-size: 35px;
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	line-height: 40px;
}
.footer a #icon1{
	color: #3b5998;
}
.footer a #icon2{
	color: #fb3958;
}
.footer a #icon3{
	color: #1da1f2;
}
.footer a #icon4{
	color: #0088cc;
}
.footer a #icon5{
	color: #ffe4c2;
}
@media only screen and (min-width: 1000px){
	header{
	height: 150px;
    }
	.logo{
	width: 10%;
	padding-left: 80px;
	height: 150px;
	}
	.logo img{
	margin-top: 40px;
	}
	.menu{
	width: 90%;
	height: 150px;
	padding-right: 100px;
	}
	.menu ul{
	float: right;
	font-size: 20px;
	text-transform: uppercase;
	}
	.menu ul li{
		width: 120px;
		height: 50px;
		line-height: 50px;
		margin-left: 20px;
	}
.footer{
	top: 60%;
}
}
